.container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    '💩 💩 💩 💩 🍔 🍔 🍔 🍔'
    '💩 💩 💩 💩 🍔 🍔 🍔 🍔'
    '💩 💩 💩 💩 🍔 🍔 🍔 🍔'
    '💩 💩 💩 💩 🍔 🍔 🍔 🍔';
}

.item9 {
  grid-column: 💩-start / 🍔-end;
  grid-row-end: 💩-end;
}
