.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(10, 1fr);
}

.logo {
  order: 1;
  grid-column: span 2;
}

.nav {
  order: 0;
  grid-column: span 8;
}

.content {
  order: 2;
  grid-column: 1 / -1;
}
