.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.poop {
  background: brown;
  grid-column: 1 / 3;
  grid-row: 1 / span 3;
}
