.container {
  display: grid;
  grid-gap: 20px;
  border: 10px solid var(--yellow);
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  /* grid-template-columns: fit-content(100px) 150px 150px 150px; */
}
